@import "variable";
@import "reset";
@import "mixin";

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#ff6ba4, #ffb86c);
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  background-color: #fafafa;
}

body {
  font-family: $font;
  height: 100vh;
  user-select: none;
  background-image: url(../images/music.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.194);
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.music {
  max-width: 500px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  padding-top: 30px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);

  &__thumb {
    position: relative;
    @include size(200px);
    border-radius: 50%;
    margin: 0 auto 40px;
    box-shadow: 0 0 0 6px #fff, 0 0 0 16px #cccccc;

    &::before {
      content: "";
      @include size(20px);
      background-color: #cccccc;
      box-shadow: 0 0 0 6px #fff;
      border-radius: inherit;
      @include absoluteCenter($direction: "both");
    }

    img {
      @include size(100%);
      border-radius: inherit;
      object-fit: cover;
    }
  }

  &__name {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
    color: #ffffff;
  }

  &__singer {
    font-size: 15px;
    color: #e5e5e5;
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px;
  }

  &__progress {
    display: flex;
    align-items: center;
    width: 100%;
    height: 6px;
    border-radius: 100px;
    margin-bottom: 10px;
    cursor: pointer;

    &--inner {
      position: relative;
      width: 100%;
      height: 3px;
      background-color: #ffffff;

      &:hover {
        height: 4px;

        .music__range {
          &::-webkit-slider-thumb {
            opacity: 1;
          }
        }
      }

      &:active {
        .music__track {
          background-color: #616161;
        }
      }
    }
  }

  &__range {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;
      @include size(12px);
      border-radius: 50%;
      opacity: 0;
    }
  }

  &__track {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #00fa4b;
  }

  &__timer {
    @include flexBox(center, space-between);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__current {
    color: #00fa4b
  }

  &__duration {
    color: #ffffff
  }

  &__control {
    @include flexBox(center, space-around);
    margin-bottom: 50px;
  }

  &__volume {
    @include flexBox(center, center);
    gap: 20px;
  }
}

.volume {
  &__btn {
    @include size(40px);
    border-radius: 50%;
    @include flexBox(center, center);
    color: #fff;
    background-image: linear-gradient(rgb(100, 100, 100), rgb(0, 0, 0));
    box-shadow: rgb(35 15 15) 0px 8px 9px;
    cursor: pointer;

    &:active {
      box-shadow: 0px 3px 9px #230f0f;
    }
  }

  &__range {
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    background-color: #616161;

    &--inner {
      position: relative;
      width: 100%;
      height: 4px;
      background-color: #fff;
    }
  }

  &__value {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s linear;
  }

  &__track {
    position: absolute;
    left: 0;
    top: 0;
    height: 4px;
    background-color: #00fa4b;
  }

  &__input {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: #aeaeae;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      background-color: #ffffff;
      @include size(12px);
      border-radius: 50%;
    }
  }
}

.btn {
  @include size(50px);
  border-radius: 50%;
  @include flexBox(center, center);
  cursor: pointer;
  font-size: 30px;
  color: #ffffff;
  background-image: linear-gradient(#646464, #000000);
  box-shadow: 0px 8px 9px #230f0f;

  &:hover {
    background-color: #ff6aa8;
  }

  &:active {
    box-shadow: 0px 3px 9px #230f0f;
  }

  &__play {
    @include size(80px);
    position: relative;
    color: #373737;

    &--inner {
      @include flexBox(center, center);
      position: absolute;
      @include size(60px);
      background-color: #ffffff;
      border-radius: inherit;
    }
  }
}

.active {
  color: #00fa4b;
}

.playlist {
  position: absolute;
  right: 0;
  max-width: 500px;
  width: 100%;
  padding: 12px 0;
  border-radius: 12px;
  transition: 0.5s linear;

  &__song {
    display: flex;
    align-items: center;
    background-color: #1b1b1b;
    color: #fff;
    padding: 8px 16px;
    border-radius: 12px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
    cursor: pointer;
    transition: 0.25s linear;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &:hover {
      background-color: #4c4c4c;

      .playlist__option {
        visibility: visible;
      }
    }
  }

  &__image {
    @include size(44px);
    border-radius: 50%;
    margin-right: 16px;

    img {
      @include size(100%);
      border-radius: inherit;
      object-fit: cover;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__author {
    font-size: 12px;
    font-weight: 400;
  }

  &__option {
    @include size(44px);
    border-radius: 50%;
    @include flexBox(center, center);
    position: relative;
    margin-left: auto;
    padding: 5px;
    visibility: hidden;

    &--load {
      @include flexBox(center, center);
      gap: 5px;
      position: absolute;
      left: -125px;
      @include size(120px, 30px);
      background-color: #f61e6a;
      color: #fff;
      font-weight: 700;
      border-radius: 5px;
      visibility: hidden;

      &:active {
        opacity: 0.7;
      }
    }

    &--show {
      visibility: visible;
    }

    &:hover {
      background-color: #6a6a6a;
    }
  }
}

.song__active {
  background-color: #4c4c4c;

  &:hover {
    .playlist__option {
      opacity: 1;
      visibility: visible;
    }
  }
}

@media screen and (max-width:1280px) {
  body {
    opacity: 0;
    visibility: hidden;
    background-image: none;
  }
}