@import "variable";
@import "reset";
@import "mixin";

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#ff6ba4, #ffb86c);
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  background-color: #fafafa;
}

body {
  font-family: $font;
  height: 100vh;
  user-select: none;
  background-image: url(../images/music.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.194);
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.playlist__icon,
.playlist__close {
  display: none;
}

.music {
  max-width: 500px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  padding-top: 30px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);

  &__thumb {
    @include size(200px);
    @include flexBox(center, center);
    border-radius: 50%;
    box-shadow: 0 0 0 16px #fff, 0 0 0 20px #767676;

    img {
      @include size(100%);
      border-radius: inherit;
      object-fit: cover;
      animation: effectThumb 1.5s linear;
    }

    @keyframes effectThumb {
      0% {
        transform: rotateY(-90deg);
        opacity: 0;
      }

      100% {
        transform: rotateY(0);
        opacity: 1;
      }
    }
  }

  &__name {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
    color: #ffffff;
  }

  &__singer {
    font-size: 15px;
    color: #cdcdcd;
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px;
  }

  &__progress {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 6px;
    margin-bottom: 10px;
    cursor: pointer;

    &--inner {
      position: relative;
      width: 100%;
      height: 4px;
      background-color: #ffffff;
      border-radius: 10px;
      overflow: hidden;
      transition: height 0.5s cubic-bezier(0, 0, 0.2, 1);
    }
  }

  &__range {
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;

    &::-webkit-slider-thumb {
      @include size(14px);
      background-color: #fff;
      border-radius: 50%;
      -webkit-appearance: none;
      opacity: 0;
      transition: opacity 0.5s cubic-bezier(0, 0, 0.2, 1);
    }

    &:active+.music__progress--inner {
      .music__track {
        background-color: #ffabbe;
      }
    }

    &:hover {
      &+.music__progress--inner {
        height: 6px;
      }

      &::-webkit-slider-thumb {
        opacity: 1;
      }
    }
  }

  &__track {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #00fa4b;
  }

  &__timer {
    @include flexBox(center, space-between);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__current {
    color: #00fa4b
  }

  &__duration {
    color: #ffffff
  }

  &__control {
    @include flexBox(center, space-around);
    margin-bottom: 40px;
  }

  &__volume {
    @include flexBox(center, center);
    gap: 20px;
  }
}

.volume {
  &__btn {
    @include size(40px);
    border-radius: 50%;
    @include flexBox(center, center);
    color: #fff;
    background-image: linear-gradient(rgb(100, 100, 100), rgb(0, 0, 0));
    box-shadow: rgb(35 15 15) 0px 8px 9px;
    cursor: pointer;

    &:active {
      box-shadow: 0px 3px 9px #230f0f;
    }

    &:hover~.volume__range {
      .volume__input {
        &+.volume__range--inner {
          height: 6px;
        }

        &::-webkit-slider-thumb {
          opacity: 1;
        }
      }
    }
  }

  &__container {
    position: relative;
    height: 4px;
    display: flex;
    align-items: center;
  }

  &__range {
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    background-color: #616161;

    &--inner {
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: 40px;
      overflow: hidden;
      transition: height 0.5s cubic-bezier(0, 0, 0.2, 1);
    }
  }

  &__input {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      background-color: #ffffff;
      @include size(14px);
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.5s cubic-bezier(0, 0, 0.2, 1);
    }

    &:active+.volume__range--inner {
      .volume__track {
        background-color: #ffabbe;
      }
    }

    &:hover {
      &+.volume__range--inner {
        height: 6px;
      }

      &::-webkit-slider-thumb {
        opacity: 1;
      }
    }
  }

  &__value {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s linear;
  }

  &__track {
    height: 100%;
    background-color: #00fa4b;
  }
}

.btn {
  @include size(50px);
  border-radius: 50%;
  @include flexBox(center, center);
  cursor: pointer;
  font-size: 30px;
  color: #ffffff;
  background-image: linear-gradient(#646464, #000000);
  box-shadow: 0px 8px 9px #230f0f;

  &:hover {
    background-color: #ff6aa8;
  }

  &:active {
    box-shadow: 0px 3px 9px #230f0f;
  }

  &__play {
    @include size(80px);
    position: relative;
    color: #373737;

    &--inner {
      @include flexBox(center, center);
      position: absolute;
      @include size(60px);
      background-color: #ffffff;
      border-radius: inherit;
    }
  }
}

.active {
  color: #00fa4b;
}

.playlist {
  position: absolute;
  right: 0;
  max-width: 500px;
  width: 100%;
  padding: 12px 0;
  border-radius: 12px;
  transition: 0.5s linear;

  &__song {
    display: grid;
    grid-template-columns: 0.9fr 3.1fr 1.4fr 0.6fr;
    align-items: center;
    background-color: #1b1b1b;
    color: #fff;
    padding: 8px 16px;
    border-radius: 12px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
    cursor: pointer;
    transition: 0.25s linear;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &:hover {
      background-color: #3b3b3b;

      .playlist__option--button {
        visibility: visible;
      }
    }
  }

  &__image {
    @include size(44px);
    border-radius: 50%;

    img {
      @include size(100%);
      border-radius: inherit;
      object-fit: cover;
    }
  }

  &__title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
    white-space: nowrap;
  }

  &__author {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff80
  }

  &__option--button {
    @include size(44px);
    border-radius: 50%;
    @include flexBox(center, center);
    position: relative;
    margin-left: auto;
    padding: 5px;
    visibility: hidden;

    &:hover {
      background-color: #6a6a6a;
    }
  }
}

.song__active {
  background-color: #3b3b3b;

  &:hover {
    .playlist__option--button {
      opacity: 1;
      visibility: visible;
    }
  }
}

.thumb {
  &__container {
    position: relative;
    @include flexBox(center, center);
    margin: 0 auto 40px;
  }

  &__action {
    position: absolute;
    @include size(200px);
    @include flexBox(center, center);
    border-radius: 50%;
    z-index: 99;
    transition: background-color 0.5s linear;
  }

  &__waves {
    @include size(41px);
    height: 40px;
    @include flexBox(center, center);
    position: relative;
    animation: wavesThumbOpacity 0.5s linear;

    @keyframes wavesThumbOpacity {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    span {
      position: absolute;
      display: block;
      width: 5px;
      height: 100%;
      left: 0;
      bottom: 0;
      background-color: #fff;
      animation: wavesThumb 0.5s infinite ease;

      &:nth-child(1) {
        animation-delay: 0.3s;
      }

      &:nth-child(2) {
        animation-delay: 0.4s;
        margin-left: 9px;
      }

      &:nth-child(3) {
        animation-delay: 0.6s;
        margin-left: 18px;
      }

      &:nth-child(4) {
        animation-delay: 0.8s;
        margin-left: 27px;
      }

      &:nth-child(5) {
        animation-delay: 1s;
        margin-left: 36px;
      }
    }

    @keyframes wavesThumb {
      0% {
        height: 25px;
      }

      30% {
        height: 35px;
      }

      60% {
        height: 40px;
      }

      80% {
        height: 40px;
      }

      100% {
        height: 25px;
      }
    }
  }
}

.waves__active {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    display: block;
    position: relative;
    background-color: #fff;
    height: 100%;
    width: 2px;
    border-radius: 16px;
    margin: 0 2px;
    animation: waves 1s linear infinite;

    &:nth-child(1) {
      animation-delay: 0s;
    }

    &:nth-child(2) {
      animation-delay: 0.3s;
    }

    &:nth-child(3) {
      animation-delay: 0.6s;
    }

    &:nth-child(4) {
      animation-delay: 0.9s;
    }

    &:nth-child(5) {
      animation-delay: 0.6s;
    }

    &:nth-child(6) {
      animation-delay: 0.3s;
    }

    &:nth-child(7) {
      animation-delay: 0s;
    }
  }
}

@keyframes waves {
  50% {
    height: 20%;
  }

  100% {
    height: 100%;
  }
}

@media (max-width: 1024px) {

  .music__range {
    &::-webkit-slider-thumb {
      opacity: 1;
    }
  }

  .volume__input {
    &::-webkit-slider-thumb {
      opacity: 1;
    }
  }

  .container {
    max-width: 100%;
    min-height: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .music {
    max-width: 500px;
    padding: 0 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;
  }

  .music__thumb {
    @include size(150px);
    box-shadow: 0 0 0 10px #fff, 0 0 0 14px #767676;
  }

  .music__name {
    font-size: 20px;
  }

  .music__singer {
    font-size: 13px;
    margin-bottom: 20px;
  }

  .music__progress {
    margin-bottom: 5px;
  }

  .music__timer {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .btn {
    @include size(40px);
    font-size: 25px;
  }

  .btn__play {
    @include size(60px);

    &--inner {
      @include size(45px);
    }
  }

  .music__volume {
    gap: 10px;
  }

  .volume__btn {
    @include size(35px);
  }

  .volume__range {
    width: 150px;
    padding: 10px;
  }

  .playlist__icon,
  .playlist__close {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ee4444;
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
    z-index: 100;
  }

  .playlist {
    border-radius: 0;
    padding: 80px 20px 20px 20px;
    overflow-y: scroll;
    position: fixed;
    bottom: -100%;
    left: 0;
    max-width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 99;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .playlist__song {
    grid-template-columns: 0.8fr 2.8fr 1.2fr 0.6fr;
    padding: 6px 12px;
  }

  .playlist__image {
    @include size(35px);
  }

  .playlist__title {
    font-size: 12px;
  }

  .playlist__author {
    font-size: 10px;
  }

  .playlist__option {
    @include size(35px);
  }

  .thumb__container {
    margin: 0 auto 50px;
  }

  .thumb__action {
    @include size(150px);
  }

  .hidden {
    display: none;
  }

  .fade-out {
    opacity: 0;
    transition: all 1s ease-in-out;
  }

  .fade-in {
    opacity: 1;
    transition: all 1s ease-in-out;
  }

  .playlist-show {
    bottom: 0%;
    transition: bottom 0.5s ease-in-out;
  }

  .playlist-hide {
    bottom: -100%;
    transition: bottom 0.5s ease-in-out;
  }
}



.context-menu {
  display: none;
  position: absolute;
  opacity: 0;
  transform: scale(0);
  transform-origin: top left;
  backdrop-filter: blur(5px);
  background: linear-gradient(45deg,
      rgba(10, 20, 28, 0.2) 0%,
      rgba(10, 20, 28, 0.7) 100%);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5), 0 2px 2px rgb(0 0 0 / 3%),
    0 4px 4px rgb(0 0 0 / 4%), 0 10px 8px rgb(0 0 0 / 5%),
    0 15px 15px rgb(0 0 0 / 6%), 0 30px 30px rgb(0 0 0 / 7%),
    0 70px 65px rgb(0 0 0 / 9%);
  z-index: 10;

  &.show {
    animation: menuAnimation 1s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
  }

  @keyframes menuAnimation {
    0% {
      opacity: 0;
      transform: scale(0);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.context-menu ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.context-menu ul li {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  display: grid;
  grid-template-columns: 35px auto;

  i {
    font-size: 18px;
    text-align: left;
  }

  p {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
  }
}

.context-menu ul li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


.option__info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &--left {
    @include size(44px);
    border-radius: 50%;
    margin-right: 12px;

    img {
      @include size(100%);
      border-radius: inherit;
      object-fit: cover;
    }
  }

  &--right {
    width: 150px;
    color: white;
  }

  &--name {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
    white-space: nowrap;
  }

  &--singer {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff80;
    white-space: nowrap;
  }
}

.tooltip {
  position: absolute;
  background-color: #333;
  box-shadow: 0px 8px 9px #230f0f;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  z-index: 11;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.tooltip.show {
  opacity: 1;
  visibility: visible;
}

.toast {
  position: fixed;
  top: 20px;
  right: -300px;
  /* Bắt đầu từ ngoài màn hình */
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toast.show-toast {
  right: 20px;
  /* Di chuyển vào trong màn hình */
  opacity: 1;
}

.toast.success {
  background-color: #4caf50;
}

.toast.error {
  background-color: #f44336;
}

.toast.info {
  background-color: #2196f3;
}

.close-toast {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  margin-left: 15px;
  cursor: pointer;
}

.close-toast:hover {
  opacity: 0.8;
}