@import "variable";
@import "reset";
@import "mixin";

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#ff6ba4, #ffb86c);
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  background-color: #fafafa;
}

body {
  font-family: $font;
  height: 100vh;
  user-select: none;
  background-image: url(../images/music.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.194);
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.music {
  max-width: 500px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  padding-top: 30px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);

  &__thumb {
    @include size(200px);
    @include flexBox(center, center);
    border-radius: 50%;
    box-shadow: 0 0 0 16px #fff, 0 0 0 20px #767676;

    img {
      @include size(100%);
      border-radius: inherit;
      object-fit: cover;
      animation: effectThumb 1.5s linear;
    }

    @keyframes effectThumb {
      0% {
        transform: rotateX(90deg);
        opacity: 0;
      }

      100% {
        transform: rotateX(0);
        opacity: 1;
      }
    }
  }

  &__name {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
    color: #ffffff;
  }

  &__singer {
    font-size: 15px;
    color: #cdcdcd;
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px;
  }

  &__progress {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 6px;
    margin-bottom: 10px;
    cursor: pointer;

    &--inner {
      position: relative;
      width: 100%;
      height: 4px;
      background-color: #ffffff;
      border-radius: 10px;
      overflow: hidden;
      transition: height 0.5s cubic-bezier(0, 0, 0.2, 1);
    }
  }

  &__range {
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;

    &::-webkit-slider-thumb {
      @include size(14px);
      background-color: #fff;
      border-radius: 50%;
      -webkit-appearance: none;
      opacity: 0;
      transition: opacity 0.5s cubic-bezier(0, 0, 0.2, 1);
    }

    &:active+.music__progress--inner {
      .music__track {
        background-color: #ffabbe;
      }
    }

    &:hover {
      &+.music__progress--inner {
        height: 6px;
      }

      &::-webkit-slider-thumb {
        opacity: 1;
      }
    }
  }

  &__track {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #00fa4b;
  }

  &__timer {
    @include flexBox(center, space-between);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__current {
    color: #00fa4b
  }

  &__duration {
    color: #ffffff
  }

  &__control {
    @include flexBox(center, space-around);
    margin-bottom: 50px;
  }

  &__volume {
    @include flexBox(center, center);
    gap: 20px;
  }
}

.volume {
  &__btn {
    @include size(40px);
    border-radius: 50%;
    @include flexBox(center, center);
    color: #fff;
    background-image: linear-gradient(rgb(100, 100, 100), rgb(0, 0, 0));
    box-shadow: rgb(35 15 15) 0px 8px 9px;
    cursor: pointer;

    &:active {
      box-shadow: 0px 3px 9px #230f0f;
    }

    &:hover~.volume__range {
      .volume__input {
        &+.volume__range--inner {
          height: 6px;
        }

        &::-webkit-slider-thumb {
          opacity: 1;
        }
      }
    }
  }

  &__container {
    position: relative;
    height: 4px;
    display: flex;
    align-items: center;
  }

  &__range {
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    background-color: #616161;

    &--inner {
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: 40px;
      overflow: hidden;
      transition: height 0.5s cubic-bezier(0, 0, 0.2, 1);
    }
  }

  &__input {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      background-color: #ffffff;
      @include size(14px);
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.5s cubic-bezier(0, 0, 0.2, 1);
    }

    &:active+.volume__range--inner {
      .volume__track {
        background-color: #ffabbe;
      }
    }

    &:hover {
      &+.volume__range--inner {
        height: 6px;
      }

      &::-webkit-slider-thumb {
        opacity: 1;
      }
    }
  }

  &__value {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s linear;
  }

  &__track {
    height: 100%;
    background-color: #00fa4b;
  }
}

.btn {
  @include size(50px);
  border-radius: 50%;
  @include flexBox(center, center);
  cursor: pointer;
  font-size: 30px;
  color: #ffffff;
  background-image: linear-gradient(#646464, #000000);
  box-shadow: 0px 8px 9px #230f0f;

  &:hover {
    background-color: #ff6aa8;
  }

  &:active {
    box-shadow: 0px 3px 9px #230f0f;
  }

  &__play {
    @include size(80px);
    position: relative;
    color: #373737;

    &--inner {
      @include flexBox(center, center);
      position: absolute;
      @include size(60px);
      background-color: #ffffff;
      border-radius: inherit;
    }
  }
}

.active {
  color: #00fa4b;
}

.playlist {
  position: absolute;
  right: 0;
  max-width: 500px;
  width: 100%;
  padding: 12px 0;
  border-radius: 12px;
  transition: 0.5s linear;

  &__song {
    display: grid;
    grid-template-columns: 0.9fr 3.1fr 1.4fr 0.6fr;
    align-items: center;
    background-color: #1b1b1b;
    color: #fff;
    padding: 8px 16px;
    border-radius: 12px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
    cursor: pointer;
    transition: 0.25s linear;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &:hover {
      background-color: #3b3b3b;

      .playlist__option {
        visibility: visible;
      }
    }
  }

  &__image {
    @include size(44px);
    border-radius: 50%;

    img {
      @include size(100%);
      border-radius: inherit;
      object-fit: cover;
    }
  }

  &__title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
    white-space: nowrap;
  }

  &__author {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff80
  }

  &__option {
    @include size(44px);
    border-radius: 50%;
    @include flexBox(center, center);
    position: relative;
    margin-left: auto;
    padding: 5px;
    visibility: hidden;

    &--load {
      @include flexBox(center, center);
      gap: 5px;
      position: absolute;
      left: -125px;
      @include size(120px, 30px);
      background-color: #f61e6a;
      color: #fff;
      font-weight: 700;
      border-radius: 5px;
      visibility: hidden;

      &:active {
        opacity: 0.7;
      }
    }

    &--show {
      visibility: visible;
    }

    &:hover {
      background-color: #6a6a6a;
    }
  }
}

.song__active {
  background-color: #3b3b3b;

  &:hover {
    .playlist__option {
      opacity: 1;
      visibility: visible;
    }
  }
}

.thumb {
  &__container {
    position: relative;
    @include flexBox(center, center);
    margin: 0 auto 40px;
  }

  &__action {
    position: absolute;
    @include size(200px);
    @include flexBox(center, center);
    border-radius: 50%;
    z-index: 99;
    transition: background-color 0.5s linear;
  }

  &__waves {
    @include size(41px);
    height: 40px;
    @include flexBox(center, center);
    position: relative;
    animation: wavesThumbOpacity 0.5s linear;

    span {
      position: absolute;
      display: block;
      width: 5px;
      height: 100%;
      left: 0;
      bottom: 0;
      background-color: #fff;
      animation: wavesThumb 0.5s infinite ease;

      &:nth-child(1) {
        animation-delay: 0.3s;
      }

      &:nth-child(2) {
        animation-delay: 0.4s;
        margin-left: 9px;
      }

      &:nth-child(3) {
        animation-delay: 0.6s;
        margin-left: 18px;
      }

      &:nth-child(4) {
        animation-delay: 0.8s;
        margin-left: 27px;
      }

      &:nth-child(5) {
        animation-delay: 1s;
        margin-left: 36px;
      }
    }

    @keyframes wavesThumbOpacity {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes wavesThumb {
      0% {
        height: 25px;
      }

      30% {
        height: 35px;
      }

      60% {
        height: 40px;
      }

      80% {
        height: 40px;
      }

      100% {
        height: 25px;
      }
    }
  }
}

.waves__active {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    display: block;
    position: relative;
    background-color: #fff;
    height: 100%;
    width: 2px;
    border-radius: 16px;
    margin: 0 2px;
    animation: waves 1s linear infinite;

    &:nth-child(1) {
      animation-delay: 0s;
    }

    &:nth-child(2) {
      animation-delay: 0.3s;
    }

    &:nth-child(3) {
      animation-delay: 0.6s;
    }

    &:nth-child(4) {
      animation-delay: 0.9s;
    }

    &:nth-child(5) {
      animation-delay: 0.6s;
    }

    &:nth-child(6) {
      animation-delay: 0.3s;
    }

    &:nth-child(7) {
      animation-delay: 0s;
    }
  }
}

@keyframes waves {
  50% {
    height: 20%;
  }

  100% {
    height: 100%;
  }
}

@media screen and (max-width:1280px) {
  body {
    opacity: 0;
    visibility: hidden;
    background-image: none;
  }
}